{{> navbar}}
<main>
  <!-- *======================== Hero-Section ====================== -->
            <section id="hero-section">
                <div class="container py-5">
                    <div class="customer-logos slider mx-auto d-flex justify-content-center">
                        <div class="slide" style="width: 255px;">
                            <img src="/static/Asset/1.jpg" width="30px">
                        </div>
                        <div class="slide ">
                            <img src="/static/Asset/2.jpg " width="30px">
                        </div>
                        <div class="slide">
                            <img src="/static/Asset/3.jpg" width="30px">
                        </div>
                        <div class="slide ">
                            <img src="/static/Asset/6.webp " width="30px">
                        </div>
                        <div class="slide">
                            <img src="/static/Asset/4.jpg" width="30px">
                        </div>
                        <div class="slide ">
                            <img src="/static/Asset/5.jpeg " width="30px">
                        </div>
                        <div class="slide">
                            <img src="/static/Asset/6.webp" width="30px">
                        </div>

                    </div>
                </div>
            </section>


        <!-- *================================== Recomendation-Section ================================================= -->
        <section class="py-5 " id="recomendation ">
            <div class="container ">
                <div class="d-flex flex-row justify-content-between recomendation-header">
                    <div>
                        <h3>Recomendation</h3>
                    </div>
                    <div style="width: 400px;">
                        <h4 class="d-inline">Select priority</h4>
                        <!-- Button trigger modal -->
                        {{!-- <button type="button" class="c-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Choose</button> --}}

                            <select class="form-control d-inline-block ms-2 mb-1" id="priority" style="width: 50%;">
                              <option>Select Priority</option>
                              <option>Price</option>
                              <option>Location</option>
                              <option>Taste</option>
                            </select>
                        
                    </div>

                    

                </div>
                <hr>

                <div class="container py-4 ">
                    <div id="data" class="row">
                        {{#data}}
                        <div id="hide" class="col-md-3 col-sm-6 ">
                            <div>
                                <a class="text-decoration-none " href="/viewMess/{{mess_id}}" target="_blank " rel="noopener noreferrer ">
                                    <div class="card ">
                                        <div class="py-3 ">
                                            <div class="card-img text-center ">
                                                <img src="/static/Asset/handi.webp " alt="Food-Image " srcset=" ">
                                            </div>
                                            <div class="card-body ">
                                                <h5 id="messName">{{mess_name}}</h5>
                                                <p style="margin-bottom: 0.5625rem; "><span class="spacing "><strong>Type</strong>  : <span id="foodType">{{food_type}}</span> </span></p>
                                                <p><strong>Location</strong> : <span id="">{{address}} </span> <span id="">{{location}}</span id="">{{city}}</span></p>
                                                <hr>
                                                <div class="d-flex flex-row justify-content-between pt-2 ">
                                                    <div><i class="fa-sharp fa-solid fa-star "><span style="font-size:0.8125rem; "> {{rating}}</span></i></div>
                                                    <div><i class="fa-solid fa-indian-rupee-sign "></i> {{cost_range}}</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                        {{/data}}
                        <!--<div class="col-md-3 col-sm-6 ">
                            <div>
                                <a class="text-decoration-none " href=" " target="_blank " rel="noopener noreferrer ">
                                    <div class="card ">
                                        <div class="py-3 ">
                                            <div class="card-img text-center ">
                                                <img src="/static/Asset/4.jpg " alt="Food-Image " srcset=" ">
                                            </div>
                                            <div class="card-body ">
                                                <h5>Sharma Mess</h5>
                                                <p style="margin-bottom: 0.5625rem; "><span class="spacing "><strong>Type</strong>  : Veg</span><span><strong>Cuisine</strong>  : Gujrati</span></p>
                                                <p><strong>Location</strong> : C/o Shree D K Deshmukh, Navnage Layout Jijamata High School, New, Old State Bank Colony, Wardha, Maharashtra 442001</p>
                                                <hr>
                                                <div class="d-flex flex-row justify-content-between pt-2 ">
                                                    <div><i class="fa-sharp fa-solid fa-star "></i><span style="font-size:0.8125rem; "> 4.5</span></div>
                                                    <div><i class="fa-solid fa-indian-rupee-sign "></i> 200</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 ">
                            <div>
                                <a class="text-decoration-none " href=" " target="_blank " rel="noopener noreferrer ">
                                    <div class="card ">
                                        <div class="py-3 ">
                                            <div class="card-img text-center ">
                                                <img src="/static/Asset/2.jpg " alt="Food-Image " srcset=" ">
                                            </div>
                                            <div class="card-body ">
                                                <h5>Sharma Mess</h5>
                                                <p style="margin-bottom: 0.5625rem; "><span class="spacing "><strong>Type</strong>  : Veg</span><span><strong>Cuisine</strong>  : Gujrati</span></p>
                                                <p><strong>Location</strong> : C/o Shree D K Deshmukh, Navnage Layout Jijamata High School, New, Old State Bank Colony, Wardha, Maharashtra 442001</p>
                                                <hr>
                                                <div class="d-flex flex-row justify-content-between pt-2 ">
                                                    <div><i class="fa-sharp fa-solid fa-star "><span style="font-size:0.8125rem; "> 4.5</span></i></div>
                                                    <div><i class="fa-solid fa-indian-rupee-sign "></i> 200</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 ">
                            <div>
                                <a class="text-decoration-none " href=" " target="_blank " rel="noopener noreferrer ">
                                    <div class="card ">
                                        <div class="py-3 ">
                                            <div class="card-img text-center ">
                                                <img src="/static/Asset/3.jpg " alt="Food-Image " srcset=" ">
                                            </div>
                                            <div class="card-body ">
                                                <h5>Sharma Mess</h5>
                                                <p style="margin-bottom: 0.5625rem; "><span class="spacing "><strong>Type</strong>  : Veg</span><span><strong>Cuisine</strong>  : Gujrati</span></p>
                                                <p><strong>Location</strong> : C/o Shree D K Deshmukh, Navnage Layout Jijamata High School, New, Old State Bank Colony, Wardha, Maharashtra 442001</p>
                                                <hr>
                                                <div class="d-flex flex-row justify-content-between pt-2 ">
                                                    <div><i class="fa-sharp fa-solid fa-star "><span style="font-size:0.8125rem; "> 4.5</span></i></div>
                                                    <div><i class="fa-solid fa-indian-rupee-sign "></i> 200</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div> -->
                    </div>

                    <div id="data2" class="row">

                    </div>
                </div>
            </div>
        </section><br>

        <!-- *================================== Top-Picks-Section ================================================== -->
        <section class="py-2 " id="top-pick ">
            <div class="container ">
                <h3 class="text-center ">Top Picks</h3>
                <hr>

                <div class="container ">
                    <div class="row py-3 ">
                        <div class="col-md-3 col-sm-6 pb-5 ">
                            <div>
                                <a class="text-decoration-none " href=" " target="_blank " rel="noopener noreferrer ">
                                    <div class="card t-card ">
                                        <div class="pb-3 ">
                                            <div class="card-img text-center ">
                                                <img src="/static/Asset/1.jpg " alt="Food-Image " srcset=" ">
                                            </div>
                                            <div class="card-body ">
                                                <h5>Sharma Mess</h5>
                                                <p style="margin-bottom: 0.5625rem; "><span class="spacing "><strong>Type : </strong> Veg</span><span><strong>Cuisine : </strong> Gujrati</span></p>
                                                <p><strong>Location : </strong> C/o Shree D K Deshmukh, Navnage Layout Jijamata High School, New, Old State Bank Colony, Wardha, Maharashtra 442001</p>
                                                <p><strong>Content : </strong> <span class="t-Content "> 1 Veg Dish, 1 Dal, 3 Rotis, 1 Rice, 1 Raita / Salad / Dessert</span></p>
                                                <hr>
                                                <div class="d-flex flex-row justify-content-between pt-2 ">
                                                    <div><i class="fa-sharp fa-solid fa-star "><span style="font-size:0.8125rem; "> 4.5</span></i></div>
                                                    <div><i class="fa-solid fa-indian-rupee-sign "></i> 200</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 pb-5 ">
                            <div>
                                <a class="text-decoration-none " href=" " target="_blank " rel="noopener noreferrer ">
                                    <div class="card t-card ">
                                        <div class="pb-3 ">
                                            <div class="card-img text-center ">
                                                <img src="/static/Asset/2.jpg " alt="Food-Image " srcset=" ">
                                            </div>
                                            <div class="card-body ">
                                                <h5>Sharma Mess</h5>
                                                <p style="margin-bottom: 0.5625rem; "><span class="spacing "><strong>Type : </strong> Veg</span><span><strong>Cuisine : </strong> Gujrati</span></p>
                                                <p><strong>Location : </strong> C/o Shree D K Deshmukh, Navnage Layout Jijamata High School, New, Old State Bank Colony, Wardha, Maharashtra 442001</p>
                                                <p><strong>Content : </strong> <span class="t-Content "> 1 Veg Dish, 1 Dal, 3 Rotis, 1 Rice, 1 Raita / Salad / Dessert
                                                    </span></p>
                                                <hr>
                                                <div class="d-flex flex-row justify-content-between pt-2 ">
                                                    <div><i class="fa-sharp fa-solid fa-star "><span style="font-size:0.8125rem; "> 4.5</span></i></div>
                                                    <div><i class="fa-solid fa-indian-rupee-sign "></i> 200</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pb-5 ">
                            <div>
                                <a class="text-decoration-none " href=" " target="_blank " rel="noopener noreferrer ">
                                    <div class="card t-card ">
                                        <div class="pb-3 ">
                                            <div class="card-img text-center ">
                                                <img src="/static/Asset/3.jpg " alt="Food-Image " srcset=" ">
                                            </div>
                                            <div class="card-body ">
                                                <h5>Sharma Mess</h5>
                                                <p style="margin-bottom: 0.5625rem; "><span class="spacing "><strong>Type : </strong> Veg</span><span><strong>Cuisine : </strong> Gujrati</span></p>
                                                <p><strong>Location : </strong> C/o Shree D K Deshmukh, Navnage Layout Jijamata High School, New, Old State Bank Colony, Wardha, Maharashtra 442001</p>
                                                <p><strong>Content : </strong> <span class="t-Content "> 1 Veg Dish, 1 Dal, 3 Rotis, 1 Rice, 1 Raita / Salad / Dessert
                                                    </span></p>
                                                <hr>
                                                <div class="d-flex flex-row justify-content-between pt-2 ">
                                                    <div><i class="fa-sharp fa-solid fa-star "><span style="font-size:0.8125rem; "> 4.5</span></i></div>
                                                    <div><i class="fa-solid fa-indian-rupee-sign "></i> 200</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pb-5 ">
                            <div>
                                <a class="text-decoration-none " href=" " target="_blank " rel="noopener noreferrer ">
                                    <div class="card t-card ">
                                        <div class="pb-3 ">
                                            <div class="card-img text-center ">
                                                <img src="/static/Asset/4.jpg " alt="Food-Image " srcset=" ">
                                            </div>
                                            <div class="card-body ">
                                                <h5>Sharma Mess</h5>
                                                <p style="margin-bottom: 0.5625rem; "><span class="spacing "><strong>Type : </strong> Veg</span><span><strong>Cuisine : </strong> Gujrati</span></p>
                                                <p><strong>Location : </strong> C/o Shree D K Deshmukh, Navnage Layout Jijamata High School, New, Old State Bank Colony, Wardha, Maharashtra 442001</p>
                                                <p><strong>Content : </strong> <span class="t-Content "> 1 Veg Dish, 1 Dal, 3 Rotis, 1 Rice, 1 Raita / Salad / Dessert
                                                    </span></p>
                                                <hr>
                                                <div class="d-flex flex-row justify-content-between pt-2 ">
                                                    <div><i class="fa-sharp fa-solid fa-star "><span style="font-size:0.8125rem; "> 4.5</span></i></div>
                                                    <div><i class="fa-solid fa-indian-rupee-sign "></i> 200</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pb-5 ">
                            <div>
                                <a class="text-decoration-none " href=" " target="_blank " rel="noopener noreferrer ">
                                    <div class="card t-card ">
                                        <div class="pb-3 ">
                                            <div class="card-img text-center ">
                                                <img src="/static/Asset/5.jpeg " alt="Food-Image " srcset=" ">
                                            </div>
                                            <div class="card-body ">
                                                <h5>Sharma Mess</h5>
                                                <p style="margin-bottom: 0.5625rem; "><span class="spacing "><strong>Type : </strong> Veg</span><span><strong>Cuisine : </strong> Gujrati</span></p>
                                                <p><strong>Location : </strong> C/o Shree D K Deshmukh, Navnage Layout Jijamata High School, New, Old State Bank Colony, Wardha, Maharashtra 442001</p>
                                                <p><strong>Content : </strong> <span class="t-Content "> 1 Veg Dish, 1 Dal, 3 Rotis, 1 Rice, 1 Raita / Salad / Dessert
                                                    </span></p>
                                                <hr>
                                                <div class="d-flex flex-row justify-content-between pt-2 ">
                                                    <div><i class="fa-sharp fa-solid fa-star "><span style="font-size:0.8125rem; "> 4.5</span></i></div>
                                                    <div><i class="fa-solid fa-indian-rupee-sign "></i> 200</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pb-5 ">
                            <div>
                                <a class="text-decoration-none " href=" " target="_blank " rel="noopener noreferrer ">
                                    <div class="card t-card ">
                                        <div class="pb-3 ">
                                            <div class="card-img text-center ">
                                                <img src="/static/Asset/1.jpg " alt="Food-Image " srcset=" ">
                                            </div>
                                            <div class="card-body ">
                                                <h5>Sharma Mess</h5>
                                                <p style="margin-bottom: 0.5625rem; "><span class="spacing "><strong>Type : </strong> Veg</span><span><strong>Cuisine : </strong> Gujrati</span></p>
                                                <p><strong>Location : </strong> C/o Shree D K Deshmukh, Navnage Layout Jijamata High School, New, Old State Bank Colony, Wardha, Maharashtra 442001</p>
                                                <p><strong>Content : </strong> <span class="t-Content "> 1 Veg Dish, 1 Dal, 3 Rotis, 1 Rice, 1 Raita / Salad / Dessert
                                                    </span></p>
                                                <hr>
                                                <div class="d-flex flex-row justify-content-between pt-2 ">
                                                    <div><i class="fa-sharp fa-solid fa-star "><span style="font-size:0.8125rem; "> 4.5</span></i></div>
                                                    <div><i class="fa-solid fa-indian-rupee-sign "></i> 200</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pb-5 ">
                            <div>
                                <a class="text-decoration-none " href=" " target="_blank " rel="noopener noreferrer ">
                                    <div class="card t-card ">
                                        <div class="pb-3 ">
                                            <div class="card-img text-center ">
                                                <img src="/static/Asset/2.jpg " alt="Food-Image " srcset=" ">
                                            </div>
                                            <div class="card-body ">
                                                <h5>Sharma Mess</h5>
                                                <p style="margin-bottom: 0.5625rem; "><span class="spacing "><strong>Type : </strong> Veg</span><span><strong>Cuisine : </strong> Gujrati</span></p>
                                                <p><strong>Location : </strong> C/o Shree D K Deshmukh, Navnage Layout Jijamata High School, New, Old State Bank Colony, Wardha, Maharashtra 442001</p>
                                                <p><strong>Content : </strong> <span class="t-Content "> 1 Veg Dish, 1 Dal, 3 Rotis, 1 Rice, 1 Raita / Salad / Dessert
                                                    </span></p>
                                                <hr>
                                                <div class="d-flex flex-row justify-content-between pt-2 ">
                                                    <div><i class="fa-sharp fa-solid fa-star "><span style="font-size:0.8125rem; "> 4.5</span></i></div>
                                                    <div><i class="fa-solid fa-indian-rupee-sign "></i> 200</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 pb-5 ">
                            <div>
                                <a class="text-decoration-none " href=" " target="_blank " rel="noopener noreferrer ">
                                    <div class="card t-card ">
                                        <div class="pb-3 ">
                                            <div class="card-img text-center ">
                                                <img src="/static/Asset/3.jpg " alt="Food-Image " srcset=" ">
                                            </div>
                                            <div class="card-body ">
                                                <h5>Sharma Mess</h5>
                                                <p style="margin-bottom: 0.5625rem; "><span class="spacing "><strong>Type : </strong> Veg</span><span><strong>Cuisine : </strong> Gujrati</span></p>
                                                <p><strong>Location : </strong> C/o Shree D K Deshmukh, Navnage Layout Jijamata High School, New, Old State Bank Colony, Wardha, Maharashtra 442001</p>
                                                <p><strong>Content : </strong> <span class="t-Content "> 1 Veg Dish, 1 Dal, 3 Rotis, 1 Rice, 1 Raita / Salad / Dessert
                                                    </span></p>
                                                <hr>
                                                <div class="d-flex flex-row justify-content-between pt-2 ">
                                                    <div><i class="fa-sharp fa-solid fa-star "><span style="font-size:0.8125rem; "> 4.5</span></i></div>
                                                    <div><i class="fa-solid fa-indian-rupee-sign "></i> 200</div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</main>
{{> last}}

{{#if login}}
<script>
    window.alert("Login Sucessfull !");
</script>

{{/if}}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $('#priority').change(function () {

 var count = 0;
        var val = $(this).val();

        $.post("/test",
         {
            val: val
            
         },
         function (data, status) {
            


            const [output] = data;

            if(data != null){
                $('#data').hide(); 

            }
            for(let i = 0; i < output.output.length; i++){

                if($('#data2 > div').length > 3){                                                                                                                  
                    $('#data2 > div').remove();
                }

                $("#data2").append("<div id='items' class='col-md-3 col-sm-6'><div><a class='text-decoration-none' id='mess' target='_blank '  rel='noopener noreferrer '><div class='card '><div class='py-3 '><div class='card-img text-center '><img src='/static/Asset/handi.webp ' alt='Food-Image ' srcset=' '></div><div class='card-body '><h5 id='messName'>"+output.output[i].mess_name+"</h5><p style='margin-bottom: 0.5625rem; '><span class='spacing '><strong>Type</strong>  : <span id='foodType'>"+output.output[i].food_type+"</span> </span></p><p><strong>Address</strong> : <span id=''>"+output.output[i].address+"</span> <span id=''>"+output.output[i].location+"</span id=''>"+output.output[i].city+"</span></p><hr><div class='d-flex flex-row justify-content-between pt-2 '><div><i class='fa-sharp fa-solid fa-star '><span style='font-size:0.8125rem; '> "+output.output[i].rating+"</span></i></div><div><i class='fa-solid fa-indian-rupee-sign '></i> "+output.output[i].cost_range+"</div></div></div></div></div></a></div></div>");



{{!-- $('#items').last().remove(); --}}
            }
 $('#data2').show(); 
});

});



</script>